<nav class="navbar navbar-expand-lg" style="background-color: rgb(115, 115, 115, 0.7)">

    <a class="navbar-brand active">
        <h1 style="margin-left: 20px;">🍉</h1>
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" id="navbar" href="/profile" style="color: black;">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="navbar" href="/search" style="color: black;">Search</a>
            </li>
            {% if user_info %}
            <li class="nav-item">
              <a class="nav-link" id="navbar" href="/" style="color: black;">Log Out</a>
            </li>
            {% endif %}
        </ul>
    </div>

  </nav>