<nav class="navbar navbar-expand-lg bg-primary">

    <a class="navbar-brand active">
        <h1>🍉</h1>
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav bg-light">
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/search">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Log Out</a>
            </li>
        </ul>
    </div>

  </nav>