{% extends 'base.html' %}
{% block title %} Sign Up {% endblock %}
{% block body %}
{% include 'navbar.html' %}
    {% block content %}


<div class="container-fluid" id="signup-div">
    <form class="col-12" action="/signup" method="POST">

        <div class="row" style="max-width: 20%;">
            <div class="form-floating mb-3">
                <input class="form-control" required = "true" id="floatingInput" type="text" name="fname" placeholder="First Name">
                <label for="floatingInput">First Name</label>
            </div>
        </div>

        <div class="row" style="max-width: 20%;">
            <div class="form-floating mb-3">
                <input class="form-control" required = "true" id="floatingInput" type="text" name="lname" placeholder="Last Name">
                <label for="floatingInput">Last Name</label>
            </div>
        </div>

        <div class="row" style="max-width: 20%;">
            <div class="form-floating mb-3">
                <input class="form-control" required = "true" id="floatingInput" type="text" name="email" placeholder="Email">
                <label for="floatingInput">Email</label>
            </div>
        </div>

        <div class="row" style="max-width: 20%;">
            <div class="form-floating mb-3">
                <input class="form-control" required = "true" id="floatingInput" type="password" name="password" placeholder="Password">
                <label for="floatingInput">Password</label>
                <span style="font-size: 10px;"><i>Must be 8-10 characters in length and include one capatalized letter, one numeric character, and one special character.</i></span>
            </div>
        </div>

        <div class="row" style="max-width: 20%;">
            <div class="form-floating mb-3">
                <input class="form-control" required = "true" id="floatingInput" type="password" name="passwordconf" placeholder="Password Confirmation">
                <label for="floatingInput">Password Confirmation</label>
                <span style="font-size: 10px;"><i>Must be 8-10 characters in length and include one capatalized letter, one numeric character, and one special character.</i></span>
            </div>
        </div>

        <div class="row" style="max-width: 10%;">
            <button type="submit" id="signup" class="btn btn-primary">Sign Up</button>
        </div>

        <span style="font-size: 10px;">Already have an account? <a href="/login">Log In</a></span>

    </form>


</div>

    {% endblock %}
{% endblock %}